In [ ]:
#import libraries
import pandas as pd
import numpy as np
from sklearn import model_selection
from sklearn import metrics
from sklearn import preprocessing
from scipy import sparse
from sklearn import decomposition
from sklearn import ensemble
import random

import warnings
warnings.simplefilter("ignore", UserWarning)

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Datasets/train.csv')

In [ ]:
df

            id  bin_0  bin_1  bin_2 bin_3  ... ord_4 ord_5  day month target
0            0    0.0    0.0    0.0     F  ...     U    Pw  6.0   3.0      0
1            1    1.0    1.0    0.0     F  ...     X    pE  7.0   7.0      0
2            2    0.0    1.0    0.0     F  ...     P    eN  5.0   9.0      0
3            3    NaN    0.0    0.0     F  ...     C   NaN  3.0   3.0      0
4            4    0.0    NaN    0.0     T  ...     C    OZ  5.0  12.0      0
...        ...    ...    ...    ...   ...  ...   ...   ...  ...   ...    ...
599995  599995    0.0    1.0    0.0     T  ...     R    GZ  5.0   NaN      0
599996  599996    1.0    0.0    0.0     T  ...     N    sf  NaN   3.0      0
599997  599997    0.0    0.0    0.0     F  ...     H    MV  7.0   5.0      0
599998  599998    1.0    1.0    0.0     F  ...     X    Ey  1.0   5.0      0
599999  599999    0.0    0.0    0.0     T  ...     O    uI  5.0   8.0      0

[600000 rows x 25 columns]

In [ ]:
def create_folds (df, split):
    # create a column
    df['kfold'] = -1

    # shuffle
    df = df.sample(frac = 1).reset_index(drop=True)

    # target 
    y = df.target.values

    #initiate kfold class
    kf= model_selection.StratifiedKFold(n_splits=split)

    #create folds
    for f_num, (r_old, r_new) in enumerate(kf.split(X = df, y= y)):
        df.loc[r_new,'kfold'] = int(f_num)
    
    return pd.DataFrame(df)

In [ ]:
df = create_folds(df,5)

In [ ]:
df.kfold.value_counts()

4    120000
3    120000
2    120000
1    120000
0    120000
Name: kfold, dtype: int64

In [ ]:
features = [f for f in df.columns if f not in ('id', 'kfold', 'target')]

In [ ]:
#Handle the missing values
for column in features:
    df.loc[:, column] = df[column].astype(str).fillna('NONE')

In [ ]:
df

            id bin_0 bin_1 bin_2 bin_3  ... ord_5  day month target kfold
0       511901   0.0   0.0   nan     F  ...    pE  1.0  12.0      0     0
1       495290   0.0   0.0   1.0     T  ...    EC  1.0  11.0      0     0
2       551555   0.0   0.0   0.0     T  ...    GZ  2.0  12.0      0     0
3       407143   0.0   0.0   1.0     F  ...    QV  1.0   7.0      1     0
4        75458   0.0   0.0   1.0   nan  ...    tn  3.0   8.0      0     0
...        ...   ...   ...   ...   ...  ...   ...  ...   ...    ...   ...
599995  385036   0.0   0.0   0.0     F  ...    nj  1.0   8.0      0     4
599996  102368   0.0   0.0   1.0     F  ...    cg  7.0   2.0      0     4
599997    2309   0.0   0.0   0.0     T  ...    HK  3.0   nan      0     4
599998  459041   0.0   0.0   0.0     T  ...    mP  6.0   nan      0     4
599999  420004   0.0   0.0   0.0   nan  ...    Pw  5.0   5.0      0     4

[600000 rows x 26 columns]

In [ ]:
#missing values handled
df.isnull().sum()

id        0
bin_0     0
bin_1     0
bin_2     0
bin_3     0
bin_4     0
nom_0     0
nom_1     0
nom_2     0
nom_3     0
nom_4     0
nom_5     0
nom_6     0
nom_7     0
nom_8     0
nom_9     0
ord_0     0
ord_1     0
ord_2     0
ord_3     0
ord_4     0
ord_5     0
day       0
month     0
target    0
kfold     0
dtype: int64

In [ ]:
# create training and validation sets
f_count = [0,1,2,2,4]
f_num = random.choice(f_count)

df_train = df[df.kfold != f_num].reset_index(drop=True)
df_valid = df[df.kfold == f_num].reset_index(drop=True)

In [ ]:
df_train

            id bin_0 bin_1 bin_2 bin_3  ... ord_5  day month target kfold
0       511901   0.0   0.0   nan     F  ...    pE  1.0  12.0      0     0
1       495290   0.0   0.0   1.0     T  ...    EC  1.0  11.0      0     0
2       551555   0.0   0.0   0.0     T  ...    GZ  2.0  12.0      0     0
3       407143   0.0   0.0   1.0     F  ...    QV  1.0   7.0      1     0
4        75458   0.0   0.0   1.0   nan  ...    tn  3.0   8.0      0     0
...        ...   ...   ...   ...   ...  ...   ...  ...   ...    ...   ...
479995  385036   0.0   0.0   0.0     F  ...    nj  1.0   8.0      0     4
479996  102368   0.0   0.0   1.0     F  ...    cg  7.0   2.0      0     4
479997    2309   0.0   0.0   0.0     T  ...    HK  3.0   nan      0     4
479998  459041   0.0   0.0   0.0     T  ...    mP  6.0   nan      0     4
479999  420004   0.0   0.0   0.0   nan  ...    Pw  5.0   5.0      0     4

[480000 rows x 26 columns]

In [ ]:
#one hot encoding
ohe = preprocessing.OneHotEncoder()
data = pd.concat([df_train[features], df_valid[features]], axis=0)
ohe.fit(data[features])

# transform training and validation data
x_train = ohe.transform(df_train[features])
x_valid = ohe.transform(df_valid[features])

In [ ]:
x_train.shape

(480000, 5723)

In [ ]:
#Use SVD
svd = decomposition.TruncatedSVD(n_components=120)
full_sparse = sparse.vstack((x_train, x_valid))
svd.fit(full_sparse)
x_train = svd.transform(x_train)
x_valid = svd.transform(x_valid)

In [ ]:
x_train.shape

(480000, 120)

In [ ]:
# Random forest
model = ensemble.RandomForestClassifier(n_jobs=-1)
model.fit(x_train, df_train.target.values)
valid_preds = model.predict_proba(x_valid)[:, 1]
auc = metrics.roc_auc_score(df_valid.target.values, valid_preds)
auc

0.7098161636757482